{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Food-Booth</h2>
        <p>The food has been successfully ordered</p>
        <a href="/animals" class="otherbuttons">View Order</a>
    </div>
{{/partial}}

{{> layout.hbs}}