<div class="content">
  <h1>Food Booth</h1>
  <style>

  body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-image: url('table-on-wooden-plank-326279.jpg');
    background-position: 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    color: black;

  }

  .jumbotron{
    text-align: center;

  }
  .bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
      </style>
    <title>FoodBooth Login</title>
  </head>
  <body>
    <div class="jumbotron"  style="color: black;">

  <div id="login">
  <h2>FoodBooth</h2>
  <h4> Click here to Log on and get started</h4>
  <input type="email" placeholder="Email..." id="email_field" />
      <input type="password" placeholder="Password..." id="password_field" />


      <button id="login">Login</button>
  </div>

      <div  id="text1">
        <h1 >Welcome</h1>
        <p>Welcome to our site. We're glad to have you here. Please Select the area you want to visit</p>
        <a href="/">Restaurants</a> <br>
        <a href="/">Individual</a>
      </div>
   </div>
    <script>
      $(document).ready(function(){
    $('#text1').hide()
    $("#login").click(function() {
  $("#text1").show();
    $("#login").hide();
    });
  }
  );
  $(document).ready(function(){
    $("#text1").click(function(){
        $("#text1").hide();
        $("#login").show()
    });
  });
    </script>

</div>

{{/partial}}
