body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-image: url('table-on-wooden-plank-326279.jpg');
  background-position: 0%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  color: white;
}

.jumbotron{
  text-align: center;
  background: none
}