{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Your Current Orders</h2>
        {{#if animals}}
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Food</th>
                        <th>Your Order</th>
                    </tr>
                    </thead>
                    {{#each animals }}
                        <tbody>
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ name }}</td>
                            <td>{{ type }}</td>
                        </tr>
                        </tbody>
                    {{/each}}
                </table>
            </div>
        {{else}}
                <p>No food has been ordered. Please make an order</p>
                <a href="/animal/form" class="otherbuttons">Make An Order</a>
    </div>
        {{/if}}
{{/partial}}
{{> layout.hbs}}