<!DOCTYPE html>
<html>
<head>
    <title>Food Booth</title>
<!--    bootstrap css cdn link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    main css-->
    <link rel="stylesheet" type="text/css"  href="/css/home.css">
<!--    font awesome js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="welcome">
        <div class="navbar">
            <div class="navbody">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav mr-0 p-2">
                        <a href="/" class="nav-link mr-2">Home</a>
                        <a href="#about" class="nav-link mr-2">About</a>
                        <a href="#header" class="nav-link mr-2">Services</a>
                        <a href="#logout" class="nav-link mr-2 ">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- services  -->
        <!-- header section -->
        <header id="header">
            <div class="container">
                <div class="row height-90 align-items-center justify-content-center">
                    <div class="col">
                        <div class="banner text-center">
                            <a href="#cooked-food" class="btn main-btn customer-btn my-4 text-capitalize">
                                <h4>
                                    <strong>Cooked Food</strong>
                                </h4>
                            </a><br>
                            <a href="#restaurant" class="btn main-btn owner-btn my-4 text-capitalize">
                                <h4>
                                    <strong>Restaurant</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#cooked-food" class="btn header-link primary-color"><i class="fas fa-arrow-down"></i></a>
        </header>
        <!-- end of header section -->

        <!--  customer side-->
        <div class="container">
            <div class="customer" id="cooked-food">
                <!-- cooked food side  -->
                <section class="py-5" id="special-items">
                    <div class="container my-5">
                        <h1>Food Recipes</h1>
                        <div class="row parent-container">
                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="http://media.safebee.com/assets/images/2015/4/chicken-legs.jpg.838x0_q67_crop-smart.jpg"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a href="https://www.allrecipes.com/recipes/201/meat-and-poultry/chicken/"> <h3 class="text-uppercase text-center item-link px-3">Chicken</h3></a>

                                </div>
                            </div>
                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="https://i2.wp.com/kaneskitchenaffair.com/wp-content/uploads/2019/04/img_5835.jpg?fit=1189%2C786"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a
                                            href="https://www.standardmedia.co.ke/evewoman/article/2000210551/here-is-the-best-way-to-cook-delicious-pilau">  <h3 class="text-uppercase text-center item-link px-3">Pilau</h3></a>
                                </div>
                            </div>

                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a href="https://www.tasteoftheplace.com/a-kenyan-meal/ ">
                                        <h3 class="text-uppercase text-center item-link px-3">Pizza</h3>
                                    </a>
                                </div>
                            </div>

                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Ugali_%26_Sukuma_Wiki.jpg"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a href="images/jerome-jome-qn9ZrKLwUBo-unsplash.jpg"> <h3 class="text-uppercase text-center item-link px-3">Ugali</h3></a>
                                </div>
                            </div>

                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="https://img1.cookinglight.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/1547060684/1812w-instant-pot-beef-stew-ckl.jpg?itok=8S0ykUS"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a href="https://www.delish.com/cooking/recipe-ideas/a23515497/easy-beef-stew-recipe/">
                                        <h3 class="text-uppercase text-center item-link px-3">Beef Stew</h3>
                                        </a>
                                </div>
                            </div>

                            <!-- menu item -->
                            <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3">
                                <div class="item-container">
                                    <img src="https://www.pishi.co.ke/wp-content/uploads/2019/02/Rina-butternut-chips.jpg"
                                         class="img-fluid img-thumbnail itme-img" alt="menu item">
                                    <a
                                            href="https://www.pishi.co.ke/wp-content/uploads/2019/02/Rina-butternut-chips.jpg"> <h1 class="text-uppercase text-center item-link px-3">Fries</h1></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

        <!--  About us -->
        <div id="about">
            <div class="jumbotron">
                <h1>About Us</h1>
                <p>The environment surrounding food, such as consumers' tastes and lifestyles, globalization and expansion
                    of the Internet, is changing consistently and rapidly.</p>

                <p>It is our mandate to bring together the small pieces that makes it a chain, from the prodution to the
                    consumption and in so doing we link hotels, from small to large to the customer so as to improve growth
                    and satisfy the customers by meeting their needs.</p>
                <p>We will continuously respect our corporate commitment "Trust", and endeavor to achieve new innovations as
                    a valuable corporate group that serves customers, in the pursuit of our corporate philosophy: "Abiding
                    spirit and innovating power - We deliver enriched lifestyles through the medium of food".</p>
            </div>
        </div>

        <
        <!-- bootstrap js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>
