<!DOCTYPE html>
<html>
<head>
    <title>Food Booth</title>
<!--    bootstrap css cdn link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    main css-->
    <link rel="stylesheet" type="text/css"  href="/css/home.css">
<!--    font awesome js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="welcome">
        <div class="navbar">
            <div class="navbody">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav mr-0 p-2">
                        <a href="/" class="nav-link mr-2">Home</a>
                        <a href="#about" class="nav-link mr-2">About</a>
                        <a href="#header" class="nav-link mr-2">Services</a>
                        <a href="#logout" class="nav-link mr-2 ">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
       
</body>

</html>
